@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #f0f0f0;
  --accent: #ff5f15;

  --font-heading: var(--font-bebas);
  --font-body: var(--font-courier);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-900 text-neutral-100 antialiased font-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-normal uppercase tracking-wide;
  }
}

@layer utilities {
  .text-accent {
    color: var(--accent);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .blink-animation {
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }
}